.modal-body button.close{margin-top:-2px}.popup-header{padding-top:45px;text-align:center}.popup-header .h3{padding-bottom:20px}.popup-header .h5{padding-bottom:60px}.popup-content{text-align:center}.popup-content-block{padding-bottom:30px}.popup-footer{text-align:center}.k12-popup-img{margin-bottom:15px}
/*
     FILE ARCHIVED ON 17:31:07 Dec 21, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:43:23 Apr 14, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 104.055
  exclusion.robots: 0.117
  exclusion.robots.policy: 0.106
  RedisCDXSource: 0.666
  esindex: 0.008
  LoadShardBlock: 79.841 (3)
  PetaboxLoader3.datanode: 83.203 (5)
  CDXLines.iter: 21.308 (3)
  load_resource: 312.533 (2)
  PetaboxLoader3.resolve: 263.93 (2)
*/